.point-group-map-draw{
    width: 130px;
}
.point-group-map-draw a{
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 42px;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #7a7a79;
}
.point-group-map-draw .select-point{
    color: white;
    background: rgba(43, 146, 72, 0.8);
}
.point-group-map-draw a:last-child{
    border-bottom: none;
}

.fjzx-draw-map-panel{}
.fjzx-draw-map-panel-header{
    display: block;width: 40px;padding: 12px 10px;position:absolute;right:-40px;left:auto;top:0;cursor:pointer;
    background-color:#3fa15a;color:#fff;text-align:center;line-height:1.1;
    -webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.fjzx-draw-map-panel-header-left{
    left: -40px;
    background: rgba(63, 161, 90, 0.9);
    border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;

}

.fjzx-draw-map-panel-subtext{padding: 12px 10px;background-color:#3fa15a;
    text-align:right;color:#fff;
    -webkit-border-radius:0px 0px 3px 3px;-moz-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px;

}
.fjzx-draw-map-panel-subtext .subtext{color:#fff;font-size:12px;}
.fjzx-draw-map-panel-subtext .info{text-align:left;}
.fjzx-draw-map-panel-subtext .textbox-label{}
.fjzx-draw-map-panel-body .fjzx-draw-map-panel-subtext .textbox{background-color:#fff;margin-right: 0;}
.fjzx-draw-map-panel-body .fjzx-draw-map-panel-subtext .textbox .textbox-text
,.fjzx-draw-map-panel-body .fjzx-draw-map-panel-subtext .combo .combo-arrow{color:#333;}
.fjzx-draw-map-panel-body .column-group .top {margin:0px;}
.fjzx-draw-map-panel-body .fjzx-draw-map-panel-subtext .btn-blue {
    background: #65b149;
    border-color: #65b149;
    color: #fff;
}
.fjzx-draw-map-panel-subtext .column-group .top .title{color:#fff;}
.fjzx-draw-map-panel-subtext .column-group .top .title .icon{color:#fff;float:none;top: 1px;}
.fjzx-draw-map-panel-header .title{display:block;font-size:16px; position: relative}
.fjzx-draw-map-panel-header .title .icon{font-size:inherit;margin-bottom:6px;}
.fjzx-draw-map-panel-header .title:after{content:"";display:block;clear:both;}
.fjzx-draw-map-panel-body{
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
    background-color: #fff;overflow:hidden;
    -moz-transition:width .5s,height .5s;-ms-transition:width .5s,height .5s;-o-transition:width .5s,height .5s;-webkit-transition:width .5s,height .5s;transition:width .5s,height .5s;
}
.fjzx-draw-map-panel.panel-left .fjzx-draw-map-panel-header{left:-40px;right:auto;
    -webkit-border-radius:3px 0px 0px 3px;-moz-border-radius:3px 0px 0px 3px;border-radius:3px 0px 0px 3px;
}
.fjzx-draw-map-panel.panel-left .title .icon-zhedie3:before {content: "\e772";}
.fjzx-draw-map-panel.collapsed.panel-left .title .icon-zhedie3:before {content: "\e774";}
.fjzx-draw-map-panel.panel-top .fjzx-draw-map-panel-header{position: static;width:auto;text-align:left;
    -webkit-border-radius:3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;border-radius:3px 3px 0px 0px;
}
.fjzx-draw-map-panel.panel-top .min-panel-header{
    float: right;
    display: inline-block;
}
.fjzx-draw-map-panel.panel-top .fjzx-draw-map-panel-body .alone-part{     position: absolute;
    right: 36px;
    top: 10px;
    display: inline-block;
    z-index: 99999;}
.fjzx-draw-map-panel.panel-top .fjzx-draw-map-panel-body .alone-part >a{
    margin-right: 2px;
    color: white;
    padding: 0 5px ;
    text-decoration: none;
    cursor: pointer;
}
.fjzx-draw-map-panel.panel-top .fjzx-draw-map-panel-body .alone-part >.select-tag{
    color: gold;
}
.fjzx-draw-map-panel.panel-top .fjzx-draw-map-panel-body .alone-part .selectBox-container >a{
    padding:3px 8px;
    font-size: 13px;
    background-color: #6db380;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    border-radius: 2px;
    box-shadow:0px 1px 5px 0px #3f7f65
}
.fjzx-draw-map-panel.panel-top .title .icon{margin-bottom: 0;float:right;}
.fjzx-draw-map-panel.panel-top .fjzx-draw-map-panel-body{-webkit-border-radius:0px 0px 3px 3px;-moz-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px;}
.fjzx-draw-map-panel.panel-top .title .icon-zhedie3:before {content: "\e773";}
.fjzx-draw-map-panel.collapsed.panel-top .title .icon-zhedie3:before {content: "\e775";}
.fjzx-draw-map-panel .fjzx-draw-map-panel-body .body-box{background-color:#fff;}

.fjzx-draw-map-panel.collapsed .fjzx-draw-map-panel-body{width:0px!important;}
.fjzx-draw-map-panel.collapsed .title .icon-zhedie3:before{content:"\e772";}
.fjzx-draw-map-panel.panel-top.collapsed .fjzx-draw-map-panel-body{width:auto!important;height:0px!important;}
/*panel tabs*/
.fjzx-draw-map-panel .tabs-panel{position:absolute;right: 100%;}
.fjzx-draw-map-panel .tabs-content{position:absolute;left:0px;right: 0;top:220px;bottom:0px;background-color: #fff;}
.fjzx-draw-map-panel .tabs-content > .body-box{height: 100%;}
.tabs-panel{}
.tabs-panel .tabs-item{margin-bottom: 3px;width: 120px;}
.tabs-panel .tabs-item .tabs-inner{background: #fff;text-decoration: none;cursor:pointer;
    padding: 6px 10px;display: block;-webkit-border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;
}
.tabs-panel .tabs-item .tabs-inner.active{background:#3fa15a;color:#fff; font-weight: bold;}